@font-face {
  font-family: 'Roboto';
  src:  url('./fonts/Roboto/roboto-v19-latin-regular.woff2') format('woff2'),
        url('./fonts/Roboto/roboto-v19-latin-regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./icon.png');
  font-family: 'Roboto';
}